@CHARSET "UTF-8";

.center {
	text-align: center;;
}

#index {
	
}

#endereco {
	display: none;
}

#contato {
	display: none;
}

#message {
	font-weight: bold;
	font-family: glyphicons
}

@font-face {
	font-family: glyphicons;
	src: url(../fonts/glyphicons-halflings-regular.ttf);
}